.items{
    display:flex;
    border: 5px solid;
    padding: 10px;
    flex-wrap: wrap;
}
body{
    background: beige;
}
#products{
    border: 5px solid;
    background-color: white;
    padding: 20px;
    margin-left: 90px;
    margin-top: 30px;
}

.food{
    width: 300px;
    height: auto;
}

.items p{
    text-align: center;
    font-weight:bold;
}

.items button{
    margin-left: 5%;
    background-color:black;
    color: aliceblue;
    font-size: larger;
    width: 90%;
}