.items{
    display:flex;
    border: 5px solid;
    padding: 10px;
    flex-wrap: wrap;
}
body{
    background: beige;
}
.header{
    position: relative;
    text-align: center;
    padding: 30px;
}
.header .top{
    margin: 0 auto;
}
#cart-btn{
    top: 30px;
    right: 5%;
    position: absolute;
    display: inline;
}
#products{
    border: 5px solid;
    background-color: white;
    padding: 20px;
    margin-left: 90px;
    margin-top: 30px;
}

.food{
    width: 100%;
    height: auto;
}

.items p{
    text-align: center;
    font-weight:bold;
}

.items button{
    margin-left: 5%;
    background-color:black;
    color: aliceblue;
    font-size: larger;
    width: 90%;
}
#cart{
    border: 5px solid;
    position: fixed;
    border-color:darkgray;
    top: 10%;
    right: 1%;
    background-color:grey;
}
#checkout-btn{
    margin-left: 100px;
    margin-bottom: 5%;
    margin-top: 5%;
}
#cart p{
    display: block;
    margin: 5px 0;
}
#total_checkout{
    display: inline;
    margin-bottom: 5px;
}
.backbutton{
    position: fixed;
    margin-top: 1px;
    margin-left: 1px;
}
.checkout{
    text-align: center;

}
.shipping{
    margin-left: 25%;
    margin-right: 25%;
}

#shipbutton{
    margin: 10%;
}

.payment{
    margin-left: 25%;
    margin-right: 25%;
}

#paybutton{
    margin:10%;
}

.summary{
    text-align: center;
    margin: 5%;
}

.summarybox{
    border: 10px solid gainsboro;
    margin-left: 20%;
    margin-right: 20%;
    background-color: darkgrey;
}

@media (max-width: 768px) {
  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  #cart-btn{
    top: 230px;
    right: 5px;
    position: absolute;
    display: inline;
    }
  .backbutton{
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
  }
  #cart{
    border: 5px solid;
    position: fixed;
    top: 35%;
    right: 1%;
    background-color:darkgrey;
    }
    .summarybox{
    border: 10px solid gainsboro;
    margin-left: 2%;
    margin-right: 2%;
    background-color: darkgrey;
}
}
