.items{
    display:flex;
    border: 5px solid;
    padding: 10px;
    flex-wrap: wrap;
}
body{
    background: beige;
}
.header{
    position: relative;
    text-align: center;
    padding: 30px;
}
.header .top{
    margin: 0 auto;
}
#cart-btn{
    top: 5%;
    right: 5%;
    position: absolute;
}
#products{
    border: 5px solid;
    background-color: white;
    padding: 20px;
    margin-left: 90px;
    margin-top: 30px;
}

.food{
    width: 100%;
    height: auto;
}

.items p{
    text-align: center;
    font-weight:bold;
}

.items button{
    margin-left: 5%;
    background-color:black;
    color: aliceblue;
    font-size: larger;
    width: 90%;
}
#cart{
    border: 5px solid;
    position: fixed;
    top: 10%;
    right: 1%;
    background-color:darkgrey;
}
#checkout-btn{
    margin-left: 100px;
    margin-bottom: 5%;
    margin-top: 5%;
}
#cart p{
    display: block;
    margin: 5px 0;
}